In [1]:
import numpy as np
from sklearn.cluster import DBSCAN
import pandas as pd

In [2]:
S = np.loadtxt("data/S.csv", delimiter=",")
S += S.T
S = 1/S
np.fill_diagonal(S,0)

In [70]:
# Transform data
S = np.exp(S)
np.fill_diagonal(S,0)

In [113]:
dbscan = DBSCAN(eps=2.5, metric='precomputed')

In [114]:
db = dbscan.fit(S)

In [115]:
db.labels_

array([-1,  0,  0,  0,  0,  0, -1,  0, -1, -1])

In [3]:
pd.DataFrame(S)

,0,1,2,3,4,5,6,7,8,9
0,0.000000,1.162493,0.993443,0.958865,1.061966,0.973331,1.117094,1.030524,0.976467,1.054719
1,1.162493,0.000000,1.147118,0.877655,1.275201,0.968429,1.098974,1.020971,1.176194,1.236843
2,0.993443,1.147118,0.000000,0.843099,0.992457,1.045489,0.960799,0.926012,0.975419,0.987849
3,0.958865,0.877655,0.843099,0.000000,0.897908,0.887233,0.974374,0.778877,0.952653,0.950029
4,1.061966,1.275201,0.992457,0.897908,0.000000,0.978186,1.040474,0.957579,1.030057,0.998104
5,0.973331,0.968429,1.045489,0.887233,0.978186,0.000000,0.920387,1.029241,1.058347,1.160295
6,1.117094,1.098974,0.960799,0.974374,1.040474,0.920387,0.000000,0.958865,1.040258,1.014106
7,1.030524,1.020971,0.926012,0.778877,0.957579,1.029241,0.958865,0.000000,0.962279,0.949397
8,0.976467,1.176194,0.975419,0.952653,1.030057,1.058347,1.040258,0.962279,0.000000,1.002255
9,1.054719,1.236843,0.987849,0.950029,0.998104,1.160295,1.014106,0.949397,1.002255,0.000000